body{
  background-color: #8ccfe0;
}
img{
  margin:16px 36px ;
}
td{ text-align: center;}


table{
  background-color :  rgb(96, 50, 129)      ;
  width : 100%;
}
footer {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  background-color: pink ;
}
aside {
  width: 30%;
  padding-left: .3rem;
  margin-left: .5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  color: #29627e;
}
p{
  text-align: center;
font-size: x-large;
}
.image{
  width: 100%;
  min-width: 400px;
  
  margin: 0 auto;
}
.parg{
  font-family: 'Lucida Sans';
  color: black;
  font-size: x-large;
}
h1{
  font-size: xxx-large;
  text-align: center;
  color: rgb(13, 13, 75);
  font-family: 'Lucida Sans'
}
h2{text-align: center;}
.titre{
  color: blueviolet;
  text-align: center;
  font-family:'Lucida Sans' ;
}
.resaux{
  margin-left: 70%;
  
}
div#galerie
{
  width: 70% ;
  background:transparent ;
  border: 1px  transparent;
  padding: 15px ;
  margin: 15px 30px ;
  margin-left: 15%;
  text-align: center ;
  font: 0.9em Georgia, serif ;
}

ul#galerie_mini
{
  margin: 0 ;
  padding: 0 ;
  list-style-type: none ;
}

ul#galerie_mini li
{
  float: left ;
  
}

ul#galerie_mini li a img
{
  margin: 2px 1px ;
  border: 1px transparent ;
}

dl#photo
{
  clear: both ;
  margin: 0 auto ;
}

dl#photo dt
{
  font: italic 3em/2em Georgia, serif ;
  color:rgb(13, 13, 75) ;
}

dl#photo dd
{
  margin: 0 ;
}

dl#photo img
{
  border: 1px transparent ;
}
.a:hover{
  width: 15%;
}
.b:hover {
width: 15%;
}
.c:hover{
  width: 18%;
}
#titre1{
  font-size: 50px;
  font-family: sigmar one;
  color: green;
}
#titre2{
  font-size: 50px;
  font-family: sigmar one;
  color: darkblue;
}
#titre3{
  font-size: 50px;
  font-family: sigmar one;
  color:coral;
}
 .titre{
  margin-left: 3%;
  margin-top: 2%;

}
#it{
  display: grid;
  grid-template-columns: 130px 1fr;
  height: 125px;
}
iframe{
  float: left;
  margin-left: 8%;
}
.adresse{
  font-size: x-large;
  margin-left: 20%;
}
.footer{margin-top: 3%;
         font-size: 28px;
  }
  nav{
          background-color:   rgb(96, 50, 129) ;
          flex-direction: center;
          height: 55px;


      }
 nav  ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 9px;
}
nav  ul li{
  list-style: none;
margin-right :60px ;
padding-top: 3px;
padding-bottom: 20px;
margin-left: 50px;
}
nav ul li a{
  color: coral;
    cursor: pointer;
  font-size: x-large;
    font-family: showcard gothic ;
    margin-right: 43px;
    text-decoration: none;
}
.lien{
  color: coral;
    cursor: pointer;
  font-size: x-large;
    font-family: showcard gothic ;
    margin-right: 64px;
    text-decoration: none;
}
.j{
  list-style: none;
  margin-right: -1px;
    margin-left: 30px;
    padding-top: 13px;
  
}
.j#j1{
  min-width: 250px;
}
header{
  width: 100%;
}
.j2{
  margin: 0px;
}
.menu {
  width: 100px;
  font-weight: bold;
    margin-top: -113px;
    position: relative;
    float: right;
    margin-right: 27px;
}
.menu .selected {
  display: flex;   
  justify-content: space-between;
  line-height: 2;
  cursor: pointer;
  margin-left: 18px;
}
.menu .selected:before {
  content: '';
  display: inline-block;
  width: 29px;
  height: 45px;
  background-image: url(https://www.countryflags.io/fr/flat/32.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.menu ul {
  margin: 0;
  padding: 0;
  display: none;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  position: absolute;
  top: 45px;
  right: 0px;
  width: 125px;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}


.menu ul li {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.menu ul li a {
  text-decoration: none;
  width: 125px;
  padding: 5px 10px;
  display: block;
}

.menu ul li:hover {
  background-color: #f2f2f2;
}

.menu ul li a:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.en:before {
  background-image: url(https://www.countryflags.io/us/flat/32.png);
  font-size: 10px;
}
.fr:before {
  background-image: url(https://www.countryflags.io/fr/flat/32.png);
  font-size: 10px;
}


.menu:hover ul {
  display: block;
}
#eng:before{
  background-image: url(https://www.countryflags.io/us/flat/32.png);
}