body{
  background-color: #8ccfe0;
}

h1{font-family: showcard gothic ;
    font-size:xxx-large;
    color: orange;}

p{font-family: 'Lucida Sans';
font-size: x-large}
  p{
    text-align: center;
  font-size: x-large;
  }